<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ .Title }}</title>
    <style>
      body {
        margin: 0;
        padding: 2rem;
        background-color: #131516;
        color: #fff;
        font-family: monospace;
      }
      .about-container {
        max-width: 800px;
        margin: 0 auto;
        border: 3px solid #fff; /* optional: a white border */
        padding: 1rem;
      }
      .nav-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 1rem;
      }
      a {
        color: #fff;
        text-decoration: underline;
      }
      a:hover {
        text-decoration: none;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: normal;
      }
      ul,
      ol {
        list-style: none;
        padding-left: 0;
      }
    </style>
  </head>
  <body>
    {{ partial "header.html" . }}

    <div class="about-container">{{ .Content }}</div>

    {{ partial "footer.html" . }}
  </body>
</html>
