<nav>
	{{- if not .IsHome }}<a href="{{ .Site.BaseURL }}">home</a> &middot;{{ end }}
	<a href="{{ .Site.BaseURL }}blog">blog</a> &middot;
	<a href="{{ .Site.BaseURL }}weird">weird</a> &middot;
	<a rel="me" href="{{ .Site.BaseURL }}about">about</a> 
</nav>
