</main>

<footer>
	<span>© {{ now.Format "2006" }} Adharsh</span>
	<a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/"><img alt="Creative Commons License"
			src="https://i.creativecommons.org/l/by/3.0/us/80x15.png"></a>
	<a href="https://github.com/structnull/structnull.github.io">Source</a>
	<span id="real-time" style="font-family: monospace;"></span>
</footer>
<script src="{{ "js/time.js" | relURL }}"></script>
</div>
{{ partial "foot.html" . }}
