<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{ partial "title.txt" . }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
	<link rel="canonical" href="{{ .Permalink }}">

	{{ with .Site.Author.name }}
	<meta name="author" content="{{ . }}">{{ end }}

	{{ range .AlternativeOutputFormats -}}
	<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}" />
	{{ end -}}

	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/bpdotregular.css" type="text/css" charset="utf-8" />
	<link rel="stylesheet" href="{{ .Site.BaseURL }}node_modules/jetbrains-mono/css/jetbrains-mono.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}node_modules/normalize.css/normalize.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/nanum-gothic-coding.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
	<script src="{{ "js/scroll.js" | absURL }}"></script>
</head>

<body>
