{{ partial "head.html" . }}

<header class="header">
    <div class="header__title-container">
        <h1 class="header__title">
            <span class="emoji"></span>
        </h1>
    </div>
</header>

<div id="main">
    {{ partial "nav.html" . }}
<main>
<script src="{{ "js/emoji.js" | absURL }}"></script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@600&display=swap');
.header {
    padding: 20px;
    text-align: center;
}
.header__title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.emoji{
font-family: 'Noto Emoji', sans-serif;
}

.header__title {
    font-size: 78px;
    font-weight: bold;
    text-shadow: 2px 2px #333;
}
</style>

