<nav>
	<div class="nav-container">
	{{- if not .IsHome }}<a href="{{ .Site.BaseURL }}">home</a> &bullet;{{ end }}
	<a href="{{ .Site.BaseURL }}blog">blog</a> &bullet;
	<a href="{{ .Site.BaseURL }}misc">misc</a> &bullet;
	<a rel="me" href="{{ .Site.BaseURL }}about">about</a> 
</nav>

<style>

.nav-container {
    display: flex;
    font-style: 'bpdots',monospace;
    justify-content: center;
    align-items: center; 
    flex-wrap: nowrap;
}
nav a {
    text-decoration: none;
    font-size: 24px;
    padding: 0 10px;
    transition: all 0.2s ease;
    flex: 1;
    align-items: center; 
}
nav a:hover {
    text-decoration: underline;
    color: #725E9C;
    transform: scale(1.1);
}
&bullet; {
    font-size: inherit;
    font-style: bold;
}
@media screen and (max-width: 600px) {
    .nav-container{
        flex-wrap: wrap;
    }
    nav a{
        width: 100%;
        text-align: center;
        font-size: 1.3em;
    }
}
</style>
