<!DOCTYPE html>
<html>
<link rel="stylesheet" href="404.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/bpdotregular.css" type="text/css" charset="utf-8" />
<h1 data-value="PAGE NOT FOUND">PAGE NOT FOUND</h1>
<p>
	You can either go to <a href="{{ .Site.BaseURL }}">home</a> or refresh
</p>
<script>
	const letters = "ERRORRR"
	let interval = null
	document.querySelector("h1").onmouseover = (event) => {
		let iteration = 0
		clearInterval(interval)
		interval = setInterval(() => {
			event.target.innerText = event.target.innerText
				.split("")
				.map((letter, index) => {
					if (index < iteration) {
						return event.target.dataset.value[index]
					}

					return letters[Math.floor(Math.random() * 6)]
				})
				.join("")
			if (iteration >= event.target.dataset.value.length) {
				clearInterval(interval)
			}
			iteration += 1 / 3
		}, 50)
	}
</script>
<style>
	body {
		display: grid;
		place-items: center;
		height: 100vh;
		margin: 0rem;
		overflow: hidden;
	}

	h1 {
		font-family: "bpdots", monospace;
		font-size: clamp(3rem, 10vw, 10rem);
		color: grey;
		padding: 0rem clamp(1rem, 2vw, 3rem);
		border-radius: clamp(0.4rem, 0.75vw, 1rem);
	}

	h1:hover {
		color: #313244;
	}

	p {
		font-family: "bpdots", monospace;
		font-size: 1.3em;
		color: grey;
	}
</style>

</html>
