{{ partial "head.html" . }}
<main id="intro">
<head>
<title>My humble blogsite </title>
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/bpdotregular.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/g.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">


<link href='https://fonts.googleapis.com/css2?family=Product+Sans&display=swap' rel='stylesheet'>
</head>
<div class="quote-container">
    <p><span class ="sed"></span></p>
</div>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="{{ "js/gen.js" | absURL }}"></script>
<script src="{{ "js/emoji.js" | absURL }}"></script>
{{ partial "nav.html" . }}
<p></p>
</main>
{{ partial "foot.html" . }}
