{{ partial "header.html" . }}

{{ with  .OutputFormats.Get "atom" }}
	<div class="alt-links">
		[<a href="{{ .RelPermalink }}">feed</a>]
	</div>
{{ end }}

<h1>{{ .Title }}</h1>

<div class="article-list">

	{{ range .Paginator.Pages }}
	<article>
		<header {{ if .Params.lang }}lang="{{- .Params.lang -}}"{{ end }}>
			<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{- .Date.Format "2006-01-02" -}}</time>
            <h3><div class="links">
				<a href="{{ .Permalink }}">{{- .Title -}}</a>
				{{ if and .Params.lang (ne .Site.Language.Lang .Params.lang) }}
					<small>[{{ .Params.lang }}]</small>
				{{ end }}
                </div>
			</h3>
		</header>
	</article>
	{{ end }}
</div>

<style>
.links{
    transition: all 0.2s ease;
}
.links:hover {
    color : lightgreen;
    transform: scale(1.1);
}
</style>

<!-- TODO: pagination -->

{{ partial "footer.html" . }}
