{{ partial "header.html" . }}

<article {{ if .Params.lang }}lang="{{- .Params.lang -}}"{{ end }}>
    <div class="Content">
        <header>
		<h1>{{ .Title }}</h1>
		{{ if not .Date.IsZero }}
			<time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>{{- .Date.Format "2006-01-02" -}}</time>
		{{ end }}
	</header>
	{{ .Content }}
    </div>
	{{ if eq .Params.lang "en" }}
	<footer>
		{{ partial "article-footer.html" . }}
	</footer>
	{{ end }}
</article>
<style>
.Content {
    margin: 0 auto; /* this will center align the container */
}


</style>

{{ partial "footer.html" . }}
