{{ $spoilerID := "spoiler-" }}
<div class="spoiler" onclick="document.getElementById('spoiler-content-{{ $spoilerID }}').classList.toggle('reveal');">
  <span style="font-weight: bold; color: #fff;">spoiler alert</span>
  <div class="spoiler-content" id="spoiler-content-{{ $spoilerID }}">
    <p style="font-size: 16px; line-height: 1.5; margin: 0; color: #fff;">
    {{- $content := .Inner | markdownify -}}
    {{- $content -}}
    </p>
  </div>
</div>

<style>
  .spoiler {
    background-color: #36393f;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }

  .spoiler-content {
    display: none;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .spoiler-content.reveal {
    display: block;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .spoiler-content.reveal:not(:empty) {
    opacity: 1;
  }
</style>

<script>
  const spoilerContent = document.getElementById('spoiler-content-{{ $spoilerID }}');

  spoilerContent.addEventListener('click', (event) => {
    event.stopPropagation();
  });
</script>
